html {
  font-size: 12px;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-color: pink
}
body.main
  background-image: url("C:\Users\justi\api_temp\images");
  background-size: cover;
  background-position: center;
}
.temperature-content {
  display: flex;               
  gap: 5rem;
  align-content: center;
}
.temperature-content {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;  
  font-color: pink        
}

.weather-page-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr auto 1fr
  gap: 1rem;
}
.weather-page-layout .header-block {
  grid-column: 1 / -1;     
  grid-row: 1;
}

